doctype html
html(lang="en", class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")
    meta(name="csrf-token", content=_csrf)
    link(rel="stylesheet", type="text/css", href="bower_components/semantic-ui/dist/semantic.min.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    title="Dota 2 Chat Parser"

  body
    block body
