extends ./layout.jade

block body
  .header.flex-box Match 1234
  .content.horizontal-center
    .chat-row.flex-box
      span.time -01:30
      img.icon(src="http://cdn.dota2.com/apps/dota2/images/heroes/earthshaker_sb.png")
      span.hero.dire Earthshaker
      span : gg
    .chat-row.flex-box
      span.time -01:31
      img.icon(src="http://cdn.dota2.com/apps/dota2/images/heroes/puck_sb.png")
      span.hero.radiant Puck
      span : gg
